<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @description %>">
    <meta name="author" content="<%= @author %>">

    <title><%= @title %></title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arsenal:400,700|Roboto:400,700|Marmelad|Yanone+Kaffeesatz:400,700&amp;subset=cyrillic,latin-ext" rel="stylesheet">

    <link rel="prev" title="<%= @prev_title %>" href="<%= @content.nav.prev %>">
    <link rel="next" title="<%= @next_title %>" href="<%= @content.nav.next %>">

    <!-- wc -->
    <script type="text/javascript" src="<%= static_path(@conn, "/wc/webcomponentsjs/webcomponents-lite.min.js") %>"></script>
    <!--link rel="import" href="<%= static_path(@conn, "/wc/leaflet-map/leaflet-map.html") %>"-->

    <!--link rel="stylesheet" type="text/css" href="../src/assets/spn.css">
    <script type="text/javascript" src="../src/js/spn.js"></script -->

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="teal darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="mailto:am@mudasobwa.ru">
          <img src="/images/avatar.jpg" alt="Aleksei “mudasobwa” Matiushkin" class="circle responsive-img brand-logo">
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!--leaflet-map style="height:200px;" latitude="51.505" longitude="-0.09" zoom="13"></leaflet-map-->

    <div class="container">
      <div class="section">
        <!-- Use element -->
        <!--google-map latitude="37.790" longitude="-122.390"></google-map-->

        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m12">
            <main role="main">
              <%= render @view_module, @view_template, assigns %>
            </main>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <%= for thumbnail <- @thumbnails do %>
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center teal-text darken-4"><i class="material-icons">flash_on</i></h2>
                <h5 class="center"><a href="<%= thumbnail.nav.this %>"><%= thumbnail.title %></a></h5>
                <div class="thumbnail-container overflow-hidden">
                    <div class="thumbnail-contents">
                      <%= raw thumbnail.preview_html %>
                    </div>
                    <div class="thumbnail-gradient">
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <footer class="page-footer teal darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Пара слов:</h5>
            <p class="grey-text text-lighten-4">
              Звать: <b>Алексей Матюшкин</b> (в сети: <b>mudasobwa</b>).<br>
              Вкратце: Я все еще <b>функциональнее</b>, чем <b>ориетированнее</b>.<br>
              Рожден: <b>0-го Октября, 1973</b>, в <b>Ленинграде</b>.<br>
              Живал: <b>Ленинград</b> ⇒ <b>Ираклеон</b> ⇒ <b>Берлин</b> ⇒ <b>Москва</b> ⇒ <b>Барселона</b>.<br>
              Люблю: <b>Linux</b>, <b>чиримойю</b>, <b>рассветы</b>, <b>виски</b>, <b>спорить</b>.<br>
              Ненавижу: <b>MacOS</b>, <b>папайю</b>, <b>вечера</b>, <b>шампанское</b>, <b>ненавистников</b>.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Пишу по работе:</h5>
            <ul>
              <li><a class="white-text" href="http://rocket-science.ru/fun/2013/04/06/abc-for-fluent-speakers-nm-level">ABC for Fluent Speakers</a></li>
              <li><a class="white-text" href="http://rocket-science.ru/hacking/2017/04/24/git-commit-credo-linter-hook">Use credo in git pre-commit</a></li>
              <li><a class="white-text" href="http://rocket-science.ru/hacking/2017/03/08/hack-vs-kludge">Hack vs. Kludge</a></li>
              <li><a class="white-text" href="http://rocket-science.ru/hacking/2017/02/17/either-monad-in-elixir">Either Monad in Elixir</a></li>
              <li><a class="white-text" href="http://rocket-science.ru/hobby/2016/12/25/queso-al-romero">Queso as Romero</a></li>
              <li><a class="white-text" href="http://rocket-science.ru/hacking/2016/12/19/dry-behaviour">Protocols in Ruby</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Пароли и явки</h5>
            <ul>
              <li><a class="white-text" href="mailto:am@mudasobwa.ru">am@mudasobwa.ru</a></li>
              <li><a class="white-text" href="https://github.com/am-kantox">git @kantox</a></li>
              <li><a class="white-text" href="https://github.com/mudasobwa">git @home</a></li>
              <li><a class="white-text" href="http://stackoverflow.com/users/story/2035262">story @stackoverflow</a></li>
              <li><a class="white-text" href="https://twitter.com/mudasobwa">twitter</a></li>
              <li><a class="white-text" href="http://rocket-science.ru">рабочий блог</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container teal-text text-lighten-3">
          <strong>
            <a class="teal-text text-lighten-5" href="http://creativecommons.org/licenses/by/3.0/deed">CC BY 3.0</a> <code>::</code>
            доктрина: строю метамодели <code>::</code>
            <a class="teal-text text-lighten-5" href="http://rocket-science.ru/files/alexei-matyushkin.pdf">résumé</a> <code>::</code>
            национальность: энтропиец <code>::</code>
            <a class="teal-text text-lighten-5" href='mailto:am@mudasobwa.ru'>am@mudasobwa.ru</a> <code>::</code>
            рожден: 0 октября <code>::</code>
            <a class="teal-text text-lighten-5" href="http://feeds.feedburner.com/">RSS Feed</a> <code>::</code>
            ❤ <code>::</code>
            <a class="teal-text text-lighten-5" href="http://materializecss.com">materializecss</a>
          </strong>
          <!--
          <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
          <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
          -->
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
