/* This file is for your main application css. */

@import "materialize";
@import "phoenix";

h1, h2, h3, h4, h5, h6 {
  font-family: "Yanone Kaffeesatz", sanf-serif;
}

h6 { color: color("purple", "lighten-2") }
h5 { color: color("purple", "lighten-1") }
h4 { color: color("purple", "darken-1") }
h3 { color: color("purple", "darken-2") }
h2 { color: color("purple", "darken-3") }
h1 { color: color("purple", "darken-4") }

a { color: color("purple", "lighten-1") !important; }
a:hover, a:active { color: color("purple", "accent-3") !important; }
a:visited { color: color("purple", "darken-3") !important; }

dt { font-weight: bold; }
dd { font-style: italic; }
blockquote {
  font-size: 90%;
  color: #656;
  border-left: 5px solid color("purple", "darken-4") !important;
  background-color: #FFFDFF;
}

main { font-size: 128%; }
code {
  padding: 0.2em 0.1em;
  border: 1px solid color("purple", "lighten-4");
  color: color("purple", "darken-1");
}
pre > code { border: none; color: #898; }

.top-bordered {
  border-top: 1px solid color("purple", "lighten-4");
}

footer { color: color("purple", "lighten-4"); }
.footer-copyright code {
  border: none;
}

figure, figcaption {
  border: 1px solid #ddd;
  background-color: #fff0f8;
  padding: 0.4em;
  font-size: 86%;
  color: #8a8086;
}

figure {
  display: table !important;
  border-bottom: none;
  padding-bottom: 0em;
}
figcaption {
  display: table-caption !important;
  caption-side: bottom;
  border-top: none;
  padding-top: 0em;
}

img { max-width: 100%; }

.overflow-hidden { overflow: hidden; height: 200px; }
.footer-copyright { font-size: 76%; text-align: center; }

.thumbnail-container { position: relative; }
.thumbnail-contents { background: #F8F8F8; }
.thumbnail-gradient {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
}
