<!--div class="row marketing">
  <%= inspect(@content) %>
</div-->

<div class="row marketing">
  <%= raw @content.html %>
</div>

<div class="row">
  <div class="col s12 m12 center">
    <%= if @content.nav && @content.nav.prev do %>
      <a class="btn btn-floating purple"
         href="<%= @content.nav.prev %>"
         title="<%= @prev_title %>"><i class="material-icons medium">skip_previous</i></a>
    <% else %>
      <a class="btn btn-floating disabled"><i class="material-icons medium">skip_previous</i></a>
    <% end %>
    &nbsp;&nbsp;&nbsp;
    <a class="btn btn-floating purple"
       href="/"
       title="🏠"><i class="material-icons medium">toc</i></a>
    &nbsp;&nbsp;&nbsp;
    <%= if @content.nav && @content.nav.next do %>
      <a class="btn btn-floating purple"
         href="<%= @content.nav.next %>"
         title="<%= @next_title %>"><i class="material-icons medium">skip_next</i></a>
    <% else %>
      <a class="btn btn-floating disabled"><i class="material-icons medium">skip_next</i></a>
    <% end %>
  </div>
</div>
